html,
body,
.kg_container,
.container-centered,
.container-bottom{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans";
    color: darkslategrey;
}

.container-centered,
.container-bottom{
    display: flex;
    justify-content: center;
}


.container-centered{
    align-items: center;
}

.container-bottom{
    align-items: flex-end;
}

.game-container{
    background-color: white;
    margin: 10px 50px;
    border-radius: 20px;
    padding: 50px;
    border: darkslategrey;
    border-width: 16px;
    border-style: solid;

    &__text{
        font-size: 110px;
        font-weight: 600;
        margin: 0 0 50px;
        line-height: 1.2em;
    }
}

.colour-test-container{
    margin-bottom: 50px;
}

.button{
    border-radius: 4px;
    background-color: darkslategrey;
    color: white;
    font-size: 80px;
    padding: 40px 80px;
}