html,
body,
.kg_container,
.kg__start-container,
.kg__colour-test-container
{
    width: 100%;
    height: 100%;
}

.kg{
    &__start-container,
    &__colour-test-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 200px 90px;
    }

    &__start-container{
        .start__heading{
            font-size: 100px;
        }
    
        .start__button{
            font-size: 100px;
            padding: 20px 60px;
        }
    }

    &__colour-test-container{
        .colour-test__question{
            font-size: 150px;
        }

        .next__button{
            font-size: 100px;
            padding: 20px 60px;
        }
    }
}